{
  "backend_host": "http://localhost:4943",
  "backend_canister_id": "YOUR_CANISTER_ID_HERE",
  "project_id": "YOUR_PROJECT_ID_HERE",
  "ii_derivation_origin": "http://localhost:4943",
  "backend_type": "icp",
  "rest_api_url": ""
}
